<h1>Infografía messi</h1>
<div *ngFor="let valor of  futbolistas last as isLast ">
    <div *ngIf="isLast"> 
    <div class="card">            
      <img [src]="valor.img" class="card-img-top"  width="50%" height="auto"  [alt]="valor.nombre">
      <div class="card-body">
        <h5 class="card-title">{{valor.nombre}}</h5>
        <p class="card-text">{{valor.bio}}</p>      
      </div>
      <div class="card-footer">
        <small class="text-mmuted">{{valor.img}}</small><br>
        <small class="text-mmuted">{{valor.nacimiento}}</small><br>
        <small class="text-mmuted">{{valor.seleccion}}</small><br>
        <small class="text-mmuted">{{valor.equipo}}</small>

        <div class="conte">
          <a [routerLink]="['../home']" class="btn btn-dark">Home </a> 
          </div>
          
      </div>
    </div>
    
</div>
</div>
