.card-img-top {
    width: 15%; /* Ajusta el tamaño deseado, por ejemplo, el 50% del contenedor padre */
    height: 15%; 
    display: block;
    margin: 0 auto;
    ;
}
h1{
    text-align: center;
}
.conte{
    float:right;
}